{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
    <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">

    <div class="content-with-background-color grid-item-col-1-row-3">
         <p>WELCOME</p>
    </div>
    <div class="content-with-background-image grid-item-row-2">
        <div class="animated-content">
            <p>This is the {{title}} page</p>
        </div>
    <div class="content-with-background-image1 grid-item-row-2">
        <div class="animated-content">
            <p>This is the {{title}} page</p>
        </div>
    </div>

</div>

{% endblock%}